@import "tailwindcss";

:root {
  --background: #fffef8;
  --foreground: #171717;
}

/* ::-webkit-scrollbar {
  display: none;
} */

@font-face {
  font-family: "HakgyoansimMulgyeol";
  src: url("/fonts/HakgyoansimMulgyeolB.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-pretendard);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fffef8;
  }
}

.Toastify__toast {
  min-width: 800px;
  min-height: 60px; /* 기본값은 48px */
  font-size: 1.25rem; /* 글씨 크기도 키우기 */
  padding: 24px 32px; /* 패딩 조절 */
  top: 60px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), var(--font-hakgyoansimMulgyeol);
}
